################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/obj
/obj/Debug/net8.0
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/v17/.wsuo
/.vs/SIDS.Plugin.Misc.FlexibleProductTitle/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
